.AddFolder {
    width: 80%;
    height: 400px;
    background-color: lightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nanum Pen Script', cursive;
}

.AddFolder > h2 {
    padding-top: 80px;
    font-size: 30px;
}

form {
    margin-top: 30px;
    font-size: 24px;
}

input {
    height: 25px;
    width: 200px;
}

.AddFolder__buttons {
    margin-top: 30px;
}

.AddFolder__buttons > button {
    background-color: white;
    color: black;
    padding: .5em 1.5em;
    text-decoration: none;
    border-radius: 3px;
    font-size: 18px;
    margin: 0 10px;
    font-family: 'Nanum Pen Script', cursive;
}

button[disabled] {
    background-color: lightgray;
    color: gray;
}

.AddFolder__error {
    margin: 10px;
    color: red;
    font-size: 24px;
}