.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  grid-area: header;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Nothing You Could Do', cursive;
}

h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 60px;
}

h1:hover {
  color:  rgb(125, 150, 159);
}

.home-link {
  text-decoration: none;
  color: black;
}

nav {
  float: left;
  background-color: rgb(125, 150, 159);
  height: 270vh;
  width: 35%;
  color: white;
}