.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(125, 150, 159);
  color: white;
}

.sideBar-nav {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.sideBarNav-link, .addFolder-button {
  text-decoration: none;
  color: white;
}