.noteList {
    grid-area: main;
    margin-left: 32%;
}

ul {
    list-style: none;
    margin-top: 0;
}

.noteList-itm {
    background-color: whitesmoke;
    padding: 1em;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}

.noteList-itm:nth-child(1) {
    margin-top: 0;
}

.noteList-itm:nth-child(2n) {
    background-color: lightgray;
}

.addNote-btn {
    background-color: lightgray;
    color: black;
    padding: .5em 1.5em;
    text-decoration: none;
    border-radius: 3px;
    font-size: 18px;
    align-items: center;
    font-family: 'Covered By Your Grace', cursive;
}

.addNote-btn:hover {
    background-color: gray;
}

.add-btn-section {
    padding-right: 20px;
    margin-bottom: 20px;
}